.places {
  /* border: 1px solid red; */
  margin: 0 auto 92px auto;
  max-width: 76.8%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.6%;
    margin: 0 auto 90px auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 678px) {
  .places {
    max-width: 100%;
  }
}