.root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
  max-width: 100%;
  background-color: #2A2C2F;
}

.header {
  margin: 28px auto 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0 auto;
  }
}

.header__logo {
  /* border: 1px solid red; */
  margin: 0;
}

@media screen and (max-width: 680px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__logo-link-zone {
  /* border: 1px solid red; */
  height: 100%;
  padding-top: 18px;
}

@media screen and (max-width: 680px) {
  .header__logo-link-zone {
    padding-top: 14px;
  }
}

.header__logo-link {
  /* border: 1px solid red; */
  margin: 0 18px 0 0;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  color: #FFFFFF;
  transition: opacity 1s;
}

.header__logo-link:last-child {
  margin: 0;
}

.header__logo-link:hover {
  opacity: 80%;
}

@media screen and (max-width: 320px) {
  .header__logo-link {
    font-size: 18px;
    line-height: 20px;
    margin: 0 18px 0 0;
  }
}

.header__logo-link_active {
  text-decoration-line: underline;
}

.lead {
  /* border: 1px solid red; */
  display: block;
  max-width: 984px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}

.lead__title {
  margin: 56px auto 0 auto;
  max-width: 720px;
  text-align: center;
  /* border: 1px solid red; */
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  /* border: 1px solid red; */
  max-width: 620px;
  margin: 32px auto 64px auto;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 680px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px auto;
  }
}

.lead__block {
  /* border: 1px solid red; */
  margin: 0;
}

.lead___image {
  width: 100%;
  /* border: 1px solid red; */
  object-fit: cover;
}

.lead__caption {
  /* border: 1px solid red; */
  margin: 8px 0 0 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}

.intro {
  display: block;
  max-width: 984px;
  /* border: 1px solid red; */
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px auto 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 64px auto 64px auto;
  }
}

.intro__title {
  /* border: 1px solid red; */
  margin: 0 0 40px 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 250px;
  }
}

.intro__text {
  /* border: 1px solid red; */
  margin: 0 0 33px 0;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}

.intro__list {
  /* border: 1px solid red; */
  margin: 0;
  padding-left: 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 100%;
  }
}

.intro__item {
  list-style: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.intro__item_span {
  font-weight: normal;
}

.photo-grid {
  margin: 0 auto 92px auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 588px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
}

.places {
  /* border: 1px solid red; */
  margin: 0 auto 92px auto;
  max-width: 76.8%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.6%;
    margin: 0 auto 90px auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 680px) {
  .places {
    max-width: 100%;
  }
}

.place {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 680px) {
  .place {
    /* grid-template-columns: 100%; */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 28px;
    grid-row: auto;
    margin-bottom: 50px;
  }
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  /* border: 1px solid red; */
  margin: 0 0 48px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
  }
}

@media screen and (max-width: 680px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 90%;
    margin: 0 0 32px 0;
    padding-left: 16px;
  }
}


.place__image {
  /* border: 1px solid red; */
  width: 460px;
  grid-row-start: 2;
  grid-row-end: 5;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 680px) {
  .place__image {
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 0 32px 0;
  }
}

.place__website {
  /* border: 1px solid red; */
  margin: 0 0 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 680px) {
  .place__website {
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 0 32px 0;
    padding-left: 16px;
  }
}

.place__website__url-heading {
  /* border: 1px solid red; */
  margin: 0 0 12px 0;
  align-content: flex-end;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__website__link {
  /* border: 1px solid red; */
  color: #FFFFFF;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity 1s;
}

.place__website__link:hover {
  opacity: 80%;
}

.place__paragraph {
  /* border: 1px solid red; */
  grid-column: 2;
  margin: 0 0 26px 0;
  font-size: 18px;
  line-height: 163%;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 680px) {
  .place__paragraph {
    grid-column: 1;
    padding: 0 16px 0 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  max-width: 1184px;
  margin: 0 auto 0 auto;
  position: relative;
  display: block;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

.cover__link {
  display: block;
  height: 100%;
  z-index: 2;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 1s;
}

.cover__link:hover {
  opacity: 80%;
}

.cover__background {
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
} 


.cover__background:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__block {
  padding: 245px 312px;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  align-items: center;
  position: relative;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .cover__block {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__block {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 320px) {
  .cover__block {
    padding: 33px 16px;
    max-width: 288px;
  }
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px 0;
  
}

@media screen and (max-width: 320px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px 0;
  }
}

.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    max-width: 186px;
    margin: 0 auto 0 16px;
  }
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 680px) {
  .footer__info {
    display: block;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
}

@media screen and (max-width: 680px) {
  .footer__links {
    display: inline-block;
    margin: 0 0 48px 0;
  }
}

.footer__links__item {
}

@media screen and (max-width: 680px) {
  .footer__links__item {
    margin: 0 0 32px 0;
  }

  .footer__links__item:last-child {
  margin: 0;
  } 
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  transition: opacity 1s;
}

@media screen and (max-width: 680px) {
  .footer__link {
    margin: 0 0 32px 0;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:hover {
  opacity: 80%;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 680px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}